@import "tailwindcss";

@theme {
  /* Reset and only use the design system tokens */
  --*: initial;

  /* Font */
  --font-poppins: Poppins, sans-serif;

  /* Font Sizes */
  --text-xs: 0.625rem /* 10px */;
  --text-sm: 0.75rem /* 12px */;
  --text-base: 0.875rem /* 14px */;
  --text-lg: 1rem /* 16px */;
  --text-xl: 1.125rem /* 18px */;
  --text-2xl: 1.25rem /* 20px */;
  --text-3xl: 1.5rem /* 24px */;
  --text-4xl: 1.75rem /* 28px */;
  --text-5xl: 2rem /* 32px */;
  --text-6xl: 2.25rem /* 36px */;
  --text-7xl: 2.5rem /* 40px */;
  --text-8xl: 2.75rem /* 44px */;
  --text-9xl: 3.5rem /* 56px */;

  /* Colors */
  --color-primary: #1a1f36;
  --color-primary-hover: #2b315a;
  --color-primary-pressed: #131830;
  --color-primary-light: #f4f6fc;

  --color-secondary: #fcd890;
  --color-secondary-hover: #ffe28b;
  --color-secondary-pressed: #ffd770;
  --color-secondary-light: #fff1c1;

  --color-background: #fafafa;
  --color-surface: #ffffff;
  --color-border: #e0e0e0;

  --color-text-primary: #2b2b38;
  --color-text-secondary: #464646;
  --color-text-inverse: #ffffff;
  --color-text-inverse-secondary: #969a74;

  --color-success: #27ae60;
  --color-error: #eb5757;
  --color-warning: #f2c94c;
  --color-info: #2d9cdb;
  --color-positive: #a0ffae;
  --color-icons: #2405f2;
}
